body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*background-color: red;*/
}
.welcome{
    margin-top: 68px;
}
.display-4{
    font-family: Garuda;
}
.card{
    padding: 20px;
    margin: 5px auto;

}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.18);
}
.form-col{
    /*width: 100%;*/
    margin: 0 auto;
    border-radius: 5px;
    background-color: #e9ecef;
}
.form-col h4{
    text-align: center;
    padding: 5%;
}
#usermanualopen{
    display: none;
}
.admin{
    background-color: #999999;
}
#admform{
    display: none;
    margin: 0 auto;
}
.error{
    color: #375EAB;
    text-align: center;
    font-weight: bold;
    margin: 25px;
}
.footer-text{
    text-align: right;
}
footer{
    background-color: #b18d7c;
    text-align: center;
    height: 40px;
}
footer p{
    color: white;
    font-weight: bold;
}
.jumbotron p{

}