<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="css/styleadmin.css" rel="stylesheet">
    <style>
        body{
            width:800px;
            margin:0 auto;
        }
        .align{
            margin:-333px 0px 0px 470px;

        }
        .dashboard{
            margin:-23px 451px;

        }
        .EP1{
            cursor: pointer;
            background-color:white;
            border:2px solid #999;
            text-decoration:none;
            color:black;
            font-size: 18px;
        }
        .EP1:hover{
            background-color: #008CBA;}

        .EP2{
            cursor: pointer;
            background-color:white;
            border:2px solid #999;
            text-decoration:none;
            color:black;
            font-size: 18px;
        }
        .EP2:hover{
            background-color:#f44336;}

        .EP5{
            cursor: pointer;
            background-color:white;
            border:2px solid #999;
            text-decoration:none;
            color:black;
            font-size: 18px;
        }
        .EP5:hover{
            background-color:#f44336;}

        .EP3{
            cursor: pointer;
            background-color:white;
            border:2px solid #999;
            text-decoration:none;
            color:black;
            font-size: 18px;
        }
        .EP3:hover{
            background-color:#098058;
        }

        .EP4{
            cursor: pointer;
            background-color:white;
            border:2px solid #999;
            text-decoration:none;
            color:black;
            font-size: 18px;
        }
        .EP4:hover{
            background-color:#FA7C33;}

        .EP5{
            cursor: pointer;
            background-color:white;
            border:2px solid #999;
            text-decoration:none;
            color:black;
            font-size: 18px;
        }
        .EP5:hover{
            background-color:#FA7C33;}

        .form-control{
            width:30%;
        }
    </style>
</head>
<body>

<h1> Welcome to FR API TESTING PLATFORM </h1>
<div class="singreq">

    <h3>Single request</h3>
    <form action="/ref_upload" method="POST" enctype="multipart/form-data">
        <input type="submit" value="Endpoint1" class="EP1">
    </form>
    <br>
    <form action="/retreive_ref" method="POST" enctype="multipart/form-data">
        <input type="submit" value="Endpoint2" class="EP2">
    </form>
    <br>
    <form action="/face_lookup" method="POST">
        <input type="submit" value="Endpoint3" class="EP3">
    </form>
    <br>
    <form action="/direct_match" method="POST">
        <input type="submit" value="Endpoint4" class="EP4">
    </form>
    <br>
    <form action="/gesture_upload" method="POST">
        <input type="submit" value="Endpoint5" class="EP5">
    </form>

</div>
<hr>
<div class="align">
    <h3>Multiple requests</h3>
    <form action="/ref_multi" method="POST">
        <input type="submit" value="Endpoint1" class="EP1">
    </form>
    <br>
    <form action="/ep2_multi" method="POST">
        <input type="submit" value="Endpoint2" class="EP2">
    </form>
    <br>
    <form action="/ep3_multi" method="POST">
        <input type="submit" value="Endpoint3" class="EP3">
    </form>
    <br>
    <form action="/ep4_multi" method="POST">
        <input type="submit" value="Endpoint4" class="EP4">
    </form>
    <br>
    <form action="/ep5_multi" method="POST">
        <input type="submit" value="Endpoint5" class="EP5">
    </form>
</div>

<br>
<br>
<div>
    <form>
        <input type="submit" value="Run analytics">
    </form>
</div>
<div class="dashboard">
    <a href="https://fat-analytics.000webhostapp.com/final.html"><input type="button" value="Dashboard report"></a>
</div>
{{if .}}
<div class="error">{{ . }}</div>
{{ end }}
</body>
</html>